*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(115, 11, 141), rgb(0, 0, 0));
    background-size:auto;
}

h1{
    margin: 5%;
    font-size: 100px;
    font-family: 'my_font';
}


form{
    display:flex;
    width: 300px;
    justify-content: left;
    margin: 0 0 0 50px;
}

form p{
    font-size: 20px;
    color: white;
}

#send{
    margin: 10px 0 0 0;
    width: 70px;
}

.check{
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: gray;
    width: 20%;
    flex-wrap: wrap;
    height: 350px;
    overflow-y: scroll;
}

.check input{
    margin: 10px;
}